.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.picture_block {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  border-bottom: 1px none #000;
  border-radius: 0px;
  box-shadow: 6px 6px 20px 11px rgba(0, 0, 0, 0.55);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -o-object-fit: fill;
  object-fit: fill;
}

.first {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  border-style: solid;
  border-width: 1px;
  border-color: #75d8c9;
  background-image: url('../images/Wisteria01.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.second {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  background-image: url('../images/Wisteria02.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.third {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-image: url('../images/Wisteria03.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.fourth {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/4-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.second-two {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60vw;
  margin-top: 39px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero {
  display: block;
  padding-top: 0px;
  padding-bottom: 59px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 88px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  box-shadow: 4px 4px 14px 1px rgba(0, 0, 0, 0.71);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.footer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 25vw;
  margin-top: 4px;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 96px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.text-block {
  margin-top: -34px;
  margin-bottom: -34px;
}

.login {
  border-radius: 20px;
  background-color: #1a7060;
}

.register {
  display: inline-block;
  border-radius: 20px;
  background-color: #1a7060;
  color: #f7f7f7;
}

.body {
  margin-bottom: 0px;
}

.container {
  padding-bottom: 0px;
}

.hero-2 {
  display: block;
  height: 50vw;
  margin-bottom: 1px;
  padding-top: 185px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/floral-background.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 20px;
}

.hero-image-2 {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  border-radius: 20px;
  background-image: url('../images/Kabloom-Logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-shadow: 4px 4px 20px -5px #000;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.button {
  border-radius: 20px;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block {
  border-radius: 20px;
  background-color: rgba(117, 216, 201, 0.62);
  box-shadow: 7px 7px 20px -10px #000;
  opacity: 1;
}

.paragraph {
  padding-right: 9px;
  padding-left: 6px;
  text-align: justify;
}

.heading {
  padding-left: 6px;
  text-align: center;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 1px;
  z-index: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.column {
  position: fixed;
  height: 100vh;
  margin-top: 0px;
  padding-top: 268px;
  border-radius: 4px;
  background-image: url('../images/pexels-sunsetoned-5913137.jpg');
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: 4px 4px 20px -2px #000;
}

.column-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  overflow: scroll;
  height: auto;
  border: 1px none transparent;
  border-radius: 0px;
  background-color: rgba(240, 235, 235, 0.7);
  box-shadow: 11px 0 20px 10px rgba(0, 0, 0, 0.77);
}

.locations {
  margin-bottom: 16px;
  border-radius: 7px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.34), #fff);
}

.plantdatabase {
  margin-bottom: 16px;
  border-radius: 7px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.34), #fff);
}

.regionid {
  margin-bottom: 16px;
  border-radius: 7px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.34), #fff);
}

.nameid {
  margin-bottom: 16px;
  border-radius: 7px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.34) 7%, #fff);
}

.grid {
  grid-column-gap: 45px;
  grid-row-gap: 393px;
  grid-template-areas: "Area-2 ."
    ". Area";
}

.cards-section {
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 32px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-perspective: 0px;
  perspective: 0px;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.image_id {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 80%;
  height: 80%;
  max-width: none;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 20px;
  box-shadow: 5px 0 17px -1px rgba(0, 0, 0, 0.62);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  text-align: left;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.commonname {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: justify;
}

.radio-button-field {
  margin-right: 20px;
  padding-right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.radio-button-field-2 {
  margin-right: 20px;
  padding-right: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.radio-button-field-3 {
  margin-right: 20px;
  padding-right: 30px;
}

.radio-button-field-4 {
  margin-right: 20px;
  padding-right: 30px;
}

.radio-button-field-5 {
  margin-right: 20px;
  padding-right: 30px;
}

.submit-button {
  margin-left: 0px;
  padding-right: 30px;
}

.heading-2 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  font-style: normal;
}

.div-block-2 {
  border: 1px none #000;
  border-radius: 9px;
  background-image: url('../images/packet.jpg');
  background-size: auto;
  box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.53);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.div-block-3 {
  position: absolute;
}

.div-block-4 {
  position: relative;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.card-front {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 9px;
  background-image: url('../images/packet.jpg');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nothing {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 9px;
  background-color: #f5dcdc;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.list {
  margin-top: 20px;
  padding-left: 0px;
  text-align: left;
  list-style-type: none;
}

.list-item {
  text-align: left;
}

.detailbutton {
  margin-top: 17px;
  margin-left: 90px;
  border-radius: 8px;
  background-color: #ca91a3;
  text-align: left;
}

.grid-2 {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 201px;
  grid-row-gap: 40px;
  grid-template-areas: "Area";
}

.card-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 19px;
  margin-left: 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 6px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin-right: 25px;
  margin-bottom: 19px;
  padding-right: 0px;
  box-shadow: 8px 8px 20px -6px rgba(0, 0, 0, 0.56);
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image {
  margin-top: 57px;
  margin-right: auto;
  margin-left: 33px;
  text-align: left;
}

.name {
  text-align: center;
}

.card-back {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 9px;
  background-color: #dfbdbd;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.list-item-2 {
  height: 30px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.list-item-3 {
  height: 30px;
}

.list-item-4 {
  height: 30px;
}

.heading-3 {
  text-align: center;
}

.textstyle {
  position: relative;
  overflow: visible;
  height: 40px;
  margin-top: 0px;
  padding-top: 6px;
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 40px;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 20px auto;
  grid-template-rows: auto auto;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-5 {
  display: block;
  float: left;
  clear: right;
}

.paragraph-2 {
  position: static;
  display: block;
  float: none;
  clear: none;
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.div-block-6 {
  float: left;
}

.paragraph-3 {
  clear: none;
  text-align: center;
}

.heading-5 {
  text-align: center;
}

.heading-6 {
  text-align: center;
}

.div-block-7 {
  float: left;
  clear: left;
}

.div-block-8 {
  float: left;
  clear: left;
}

.grid-3 {
  margin-top: 16px;
  margin-right: 25px;
  margin-left: 21px;
  grid-column-gap: 31px;
  grid-row-gap: 11px;
  grid-template-areas: "."
    "Area";
}

.image-2 {
  border-radius: 20px;
  box-shadow: 1px 1px 3px 0 #000;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.image-3 {
  border-radius: 20px;
  background-image: url('../images/sarah.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.image-4 {
  border-radius: 20px;
  background-image: url('../images/shannon2.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-5 {
  border-radius: 20px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.body-2 {
  background-image: url('..../images/pexels-adrianna-calvo-1086178.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.garret {
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.93);
}

.shannon {
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.93);
}

.sarah {
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.93);
}

.div-block-9 {
  border-radius: 20px;
  background-color: transparent;
}

.ellie {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media screen and (max-width: 991px) {
  .flex-container {
    margin-top: -128px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .gallery-grid-container {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero-2 {
    padding: 40px 20px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .cards-section {
    overflow: hidden;
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .card-wrapper {
    overflow: hidden;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .gallery {
    padding: 40px 20px;
  }

  .gallery-grid-container {
    max-width: none;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .second-two {
    height: 100vw;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .centered-container {
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gallery-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
}