<h1>testng plants</h1>

@using KabloomApi.Models;
Testing!
<ol>
@foreach (Plant plant in Model)
{
  <ul>
    <li>Image<img src= @plant.image_url></img></li>
    <li>Common Name: @plant.Common_name</li>

  </ul>
  <br>
}
</ol>