<h1>testing plants</h1>

@using KabloomApi.Models;
Testing!
<ol>
@foreach (Plant plant in Model)
{
  <ul>
    <li>Image<img src= @plant.image_url></img></li>
    <li>Common Name: @plant.Common_name</li>

  </ul>
  <br>
  <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
}
</ol>