@* <!DOCTYPE html>
<!--  Last Published: Tue Jan 26 2021 21:24:12 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="600f645f221b5661d38f8688" data-wf-site="600daa2418b4568e22d87ea3">
<head>
  <meta charset="utf-8">
  <title>Account</title>
  <meta content="Account" property="og:title">
  <meta content="Account" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/team-week.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Great Vibes:400","Changa One:400,400italic"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="w-row">
    <div class="column w-col w-col-3 w-col-small-6 w-col-tiny-6">
      <div class="nameid">
        <div class="textstyle">Name</div>
      </div>
      <div class="regionid">
        <div class="textstyle">Name</div>
      </div>
      <div class="plantdatabase">
        <div class="textstyle">Name</div>
      </div>
      <div class="locations">
        <div class="textstyle">Name</div>
      </div>
      <div class="locations">
        <div class="textstyle">Name</div>
      </div>
    </div>
    <div class="column-2 w-col w-col-9 w-col-small-6 w-col-tiny-6">
      <section id="cards-section" class="cards-section">
        <div class="centered-container w-container">
          <h2 class="heading-2">My Garden</h2>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form"><label class="radio-button-field-2 w-radio"><input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Flower</span></label><label class="radio-button-field-3 w-radio"><input type="radio" data-name="Radio 2" id="radio-2" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Edible Plants</span></label><label class="radio-button-field-4 w-radio"><input type="radio" data-name="Radio 3" id="radio-3" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Pet Friendly</span></label><label class="radio-button-field-5 w-radio"><input type="radio" data-name="Radio 4" id="radio-4" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Vegetables</span></label><label class="radio-button-field w-radio"><input type="radio" data-name="Radio 5" id="radio-5" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Fruits</span></label><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <p>Here is a collection of your chosen plants. Clicking on each which go into greater detail about taking proper care for them.</p>
        </div>
        <div class="card-wrapper">
          <div data-w-id="394a9fbc-bf31-ea15-c0cd-7bd30ac59bf6" class="card">
            <div class="card-front"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="" width="230" alt="" class="image">
              <h2 class="name">Heading</h2>
            </div>
            <div class="card-back">
              <h1 class="heading-3">Heading</h1>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-4"></li>
                <li class="list-item-3"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
                <li class="list-item-2"></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=600daa2418b4568e22d87ea3" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html> *@